h1.heading {
	font-weight: 700;
	font-size: 12rem;
	line-height: 16.4rem;
	color: $color-black;

	// @media only screen and (max-width: $tab-land) {
	// 	font-size: 4.5rem;
	// }
	// @media only screen and (max-width: $mbl-port) {
	// 	font-size: 3.5rem;
	// }
}
h2.heading {
	font-weight: 400;
	font-size: 6rem;
	line-height: 8rem;

	@media only screen and (max-width: $tab-land) {
		font-size: 4rem;
		line-height: 6rem;
	}
}

h3.heading {
	font-size: 4rem;
	line-height: 5.4rem;
	color: $color-primary;

	@media only screen and (max-width: $tab-port) {
		font-size: 3.2rem;
		line-height: 4.4rem;
	}
	@media only screen and (max-width: $mbl-land) {
		font-size: 2.6rem;
		line-height: 3.4rem;
	}
}

.title {
	h2 {
		letter-spacing: 2rem;
		font-family: $font-secondary;

		@media only screen and (max-width: $tab-land) {
			letter-spacing: 1.4rem;
			margin-bottom: 1.5rem;
		}
	}

	h6 {
		font-size: 2.2rem;
		letter-spacing: 2rem;
		color: $color-primary;
		font-family: $font-primary;

		@media only screen and (max-width: $tab-land) {
			font-size: 1.2rem;
			letter-spacing: 0.8rem;
		}
		@media only screen and (max-width: $mbl-small) {
			line-height: 2.5rem;
		}
	}
}
h4 {
	font-size: 2.8rem;
	font-weight: 400;
}
h5 {
	font-size: 2rem;
	font-weight: 400;
}

.heading {
	font-family: $font-secondary;
}

.text {
	font-size: 2rem;
	color: $color-white;
	// line-height: 4rem;
	font-weight: 200;
	font-family: $font-primary;
	text-transform: capitalize;
}

a:link,
a:visited {
	font-size: 1.8rem;
	font-weight: 400;
	text-decoration: none;
	color: $color-white;

	@media only screen and (max-width: $laptop-port) {
		font-size: 1.6rem;
	}
}

// Typography utils

.bold {
	font-weight: 700;
}

.center {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}

.icon {
	height: 3rem;
	width: 3rem;
	fill: $color-white;
}

.white {
	color: $color-white !important;
}
.black {
	color: $color-black !important;
}
.primary-color {
	color: $color-primary !important;
}

@mixin pos-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin img-size {
	height: 100%;
	width: 100%;
}

@mixin icon-vector {
	height: 2rem;
	width: 2rem;
}
