.nav {
	padding: 3rem 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.516);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 8;
	background: black;

	&__logo {
		height: 4rem;
		min-width: 17rem;

		img {
			@include img-size;
		}
	}

	&__list {
		gap: 5.4rem;

		@media only screen and (max-width: $tab-land) {
			display: none !important;
		}
	}
	&__link {
		font-family: $font-secondary;
		font-size: 1.8rem;
		transition: all 0.3s;
	}
	&__link:hover,
	.active {
		color: $color-primary;
	}

	.nav__right {
		gap: 2.5rem;

		.contact {
			.icon {
				height: 1.5rem;
				width: 1.5rem;
				fill: $color-white;
			}
		}

		@media only screen and (max-width: $tab-land) {
			display: none !important;
		}
	}

	.line {
		height: 6.4rem;
		width: 1px;
		background-color: $color-white;
	}
}

.btn-sidebar {
	.icon {
		height: 3.5rem;
		width: 3.5rem;
		fill: $color-white;
	}
}

.btn-open-sidebar {
	position: fixed;
	top: 3.5rem;
	right: 1rem;
	display: none;
	background-color: transparent;

	@media only screen and (max-width: $tab-land) {
		display: block;
	}
}

.btn-close-sidebar {
	position: absolute;
	top: 3.5rem;
	right: 1rem;
	background-color: transparent;
}

.mbl-bar {
	position: fixed !important;
	top: 0;
	left: 0;
	height: 100vh;
	width: 60%;
	background-color: #000;
	z-index: 10;
	padding-top: 8rem;
	transform: translateX(-100%);
	transition: all 0.5s;

	@media only screen and (max-width: $mbl-land) {
		width: 100%;
	}

	.nav__list {
		display: none !important;
		gap: 2.4rem;

		@media only screen and (max-width: $tab-land) {
			display: flex !important;
		}
	}

	.nav__right {
		display: none !important;

		@media only screen and (max-width: $tab-land) {
			display: flex !important;
		}
	}
}

.show-mbl-bar {
	transform: translateX(0);
}
