input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
}
.range-slider {
	position: relative;
	width: 100%;
	height: 0.5rem;
	border-radius: 1.5rem;
	/*   background: transparent linear-gradient(90deg, #5f822d 0%, #a5af33 100%) 0% 0%
    no-repeat padding-box; */
	background: $color-white;
	margin: 1.5rem 0;
}
.range-slider .progress {
	position: absolute;
	left: 0;
	right: 0%;
	height: 100%;
	border-radius: 1.5rem;
	/*   background: transparent linear-gradient(90deg, #e4e7c1 0%, #d39892 100%) 0% 0%
    no-repeat padding-box; */
	background: $color-primary;
}
.range-slider input[type='range'] {
	position: absolute;
	width: 100%;
	height: 0.5rem;
	-webkit-appearance: none;
	pointer-events: none;
	background: none;
	outline: none;
}
.range-slider .range-min::-webkit-slider-thumb {
	pointer-events: auto;
	-webkit-appearance: none;
	width: 2.5rem;
	height: 2.5rem;
	background: $color-primary;
	border: 0.3rem solid $color-white;
	border-radius: 2rem;
	opacity: 1;
	cursor: pointer;
}
.range-slider .range-max::-webkit-slider-thumb {
	pointer-events: auto;
	-webkit-appearance: none;
	width: 2.5rem;
	height: 2.5rem;
	background: $color-primary;
	border: 0.3rem solid $color-white;
	border-radius: 20px;
	opacity: 1;
	cursor: pointer;
}

.value {
	gap: 0.3rem;
	position: absolute;
	top: 2rem;
	font-size: 1.2rem;

	input {
		background-color: transparent;
		color: $color-white;
		outline: none;
		border: none !important;
		width: 1.5rem;
		font-size: 1.2rem;
	}
}

.max-value {
	right: 0;
}
.min-value {
	left: 0;
}

[slider] {
	position: relative;
	height: 14px;
	border-radius: 10px;
	text-align: left;
	margin: 45px 0 10px 0;
}

[slider] > div {
	position: absolute;
	left: 13px;
	right: 15px;
	height: 14px;
}

[slider] > div > [inverse-left] {
	position: absolute;
	left: 0;
	height: 14px;
	border-radius: 10px;
	background-color: #ccc;
	margin: 0 7px;
}

[slider] > div > [inverse-right] {
	position: absolute;
	right: 0;
	height: 14px;
	border-radius: 10px;
	background-color: #ccc;
	margin: 0 7px;
}

[slider] > div > [range] {
	position: absolute;
	left: 0;
	height: 14px;
	border-radius: 14px;
	background-color: #1abc9c;
}

[slider] > div > [thumb] {
	position: absolute;
	top: -7px;
	z-index: 2;
	height: 28px;
	width: 28px;
	text-align: left;
	margin-left: -11px;
	cursor: pointer;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
	background-color: #fff;
	border-radius: 50%;
	outline: none;
}

[slider] > input[type='range'] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 3;
	height: 14px;
	top: -2px;
	width: 100%;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

div[slider] > input[type='range']::-ms-track {
	-webkit-appearance: none;
	background: transparent;
	color: transparent;
}

div[slider] > input[type='range']::-moz-range-track {
	-moz-appearance: none;
	background: transparent;
	color: transparent;
}

div[slider] > input[type='range']:focus::-webkit-slider-runnable-track {
	background: transparent;
	border: transparent;
}

div[slider] > input[type='range']:focus {
	outline: none;
}

div[slider] > input[type='range']::-ms-thumb {
	pointer-events: all;
	width: 28px;
	height: 28px;
	border-radius: 0px;
	border: 0 none;
	background: red;
}

div[slider] > input[type='range']::-moz-range-thumb {
	pointer-events: all;
	width: 28px;
	height: 28px;
	border-radius: 0px;
	border: 0 none;
	background: red;
}

div[slider] > input[type='range']::-webkit-slider-thumb {
	pointer-events: all;
	width: 28px;
	height: 28px;
	border-radius: 0px;
	border: 0 none;
	background: red;
	-webkit-appearance: none;
}

div[slider] > input[type='range']::-ms-fill-lower {
	background: transparent;
	border: 0 none;
}

div[slider] > input[type='range']::-ms-fill-upper {
	background: transparent;
	border: 0 none;
}

div[slider] > input[type='range']::-ms-tooltip {
	display: none;
}

[slider] > div > [sign] {
	opacity: 0;
	position: absolute;
	margin-left: -11px;
	top: -39px;
	z-index: 3;
	background-color: #1abc9c;
	color: #fff;
	/*   width: 28px; */
	padding: 0 2rem;
	height: 28px;
	border-radius: 28px;
	-webkit-border-radius: 28px;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	text-align: center;
}

[slider] > div > [sign]:after {
	position: absolute;
	content: '';
	left: 0;
	border-radius: 16px;
	top: 19px;
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top-width: 16px;
	border-top-style: solid;
	border-top-color: #1abc9c;
}

[slider] > div > [sign] > span {
	font-size: 12px;
	font-weight: 700;
	line-height: 28px;
}

[slider]:hover > div > [sign] {
	opacity: 1;
}
