.player {
	// min-height: 95vh;
	height: 100%;
	width: 100%;
	// border: 5px solid rgba(0, 0, 0, 0.2);
	// box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	position: relative;
	font-size: 0;
	overflow: hidden;
}

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
	max-width: none;
	width: 100%;
}

.player:-webkit-full-screen {
	max-width: none;
	width: 100%;
}

.player__video {
	width: 100%;
}
